header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #eaeaea;
    border-bottom: 2px solid black;
}
.mis-proyectos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}
main {
    width: 80%;
    margin: 0 auto;
}
.seccion {
    margin-bottom: 20px; 
  }
  .detalle-proyecto {
    padding: 10px; 
  }